body {
  text-align: center;
  background-color: #1e2022;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #f7eab3;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #e2d7d7;
  border-radius: 20%;
}

.game-over {
  background-color: #e23a3a;
  opacity: 0.8;
}

.red {
  background-color: #e43232;
}

.green {
  background-color: #3de73d;
}

.blue {
  background-color: #3439dc;
}

.yellow {
  background-color: #f3f33c;
}

/* button animation */
.pressed {
  box-shadow: 0 0 20px #ebe8e8;
  background-color: #dce1e6;
}
